{% extends 'layoutback.html.twig' %}

{% block body %}
    <h1>votre tentative de promotion n'est pas compatible avec les condition suivante:</h1>
    <h1>1/la date du debut devrait etre supperieur a la date system</h1>
    <h1>2/la date de fin de votre promotion devrait etre supperieur a la date du debut</h1>
    <h1> 3/le produit n'est pas utiliser dans une autre promition</h1>
    <h1>4/le pourcentage de remise devrait etre infierieur a 100</h1>
    <h1>5/le produit choisir est deja votre produit</h1>


{% endblock %}
